* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyIndex{
    background-image: url("img/indexBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(81, 64, 38);
}

.bodyZombies{
    background-image: url("img/zombiesBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(81, 64, 38);
}

.bodySurvivors{
    background-image: url("img/survivorsBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(81, 64, 38);
}

.bodyPeacekeepers{
    background-image: url("img/peacekeepersBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(81, 64, 38);
}

h1{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 120px;  
}

h2{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 32px;
    color: rgb(240, 235, 235);
    text-decoration: underline;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.commonText1{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 25px;
    color: rgb(226, 225, 225);
    padding: 5px;
}

.commonText2{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 25px;
    color: rgb(226, 225, 225);
    padding: 5px;
    text-align: center;
    border: 2px rgba(239, 239, 239, 0.49) solid;
}

.desc{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 41px;  
    margin-top: -20px;
    margin-bottom: -18px;
    margin-left: 6px;
}

.logo{
    margin: auto;
    padding-top: 10px;
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px black;  
    transition: transform 0.2s ease-in;
    width: 80%;
    height: auto;
}

.logo:hover{
    transform: scale(1.07);
    transition: transform 0.1s ease-in;
}

.navbar a{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 5px 38px 5px 38px;
}

.navbar > nav > ul{
    margin: auto;
    margin-top: 20px;
    padding: 8px;
    background-color: rgba(28, 24, 23, 0.687);
    width: 63%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar li:hover{
    transform: scale(1.07);
    transition: transform 0.05s ease-in;
}

.navbar > nav > ul > li > a:hover{
    background-color: rgba(66, 18, 65, 0.214);
} 

.content{
    display: flex;
    margin: auto;
    margin-top: 0.5%;
    background-color: rgba(68, 59, 48, 0.687);
    width: 63%;
    padding: 8px;
}

.newsImage{
    border: 2.5px black solid;
    transition: transform 0.3s;
}

.newsImage:hover{
    transform: scale(1.03); 
    transition: transform 0.3s;
}

.zombies{
    width: 63%;
    background-color: rgba(68, 59, 48, 0.687);
    margin: auto;
    margin-top: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.gallery img{
    padding: 10px 20px 10px 20px;
    
}

.zombiesText{
    width: 229px;
    height: 229px;
    margin-top: -238px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    text-shadow: 1px 1px 30px black;
    text-align: center;
    opacity: 0%;
    font-family: Verdana;
    font-weight: bolder;
    font-size: 20px;
    border: 5px rgba(253, 253, 253, 0.714) solid;
    transition: opacity 2s;
}

.zombiesText:hover{
    opacity: 100%; 
    transition: opacity 0.3s;
}